<a href="https://colab.research.google.com/github/JoelWekesa/Machine-and-Deep-Learning/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from google.colab import drive, files
from sklearn.preprocessing import LabelEncoder, StandardScaler, RobustScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn import svm
from sklearn.ensemble import StackingClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression
import random

In [2]:
drive.mount("/content/datasets")

Drive already mounted at /content/datasets; to attempt to forcibly remount, call drive.mount("/content/datasets", force_remount=True).

In [3]:
path = "/content/datasets/MyDrive/datasets/train.csv"

In [4]:
df = pd.read_csv(path)

In [5]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [6]:
df["Parch"].value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [7]:
df["SibSp"].value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [8]:
df["Embarked"].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [9]:
df["Pclass"].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [10]:
df.groupby(["Parch"])["Survived"].value_counts()

Parch  Survived
0      0           445
       1           233
1      1            65
       0            53
2      0            40
       1            40
3      1             3
       0             2
4      0             4
5      0             4
       1             1
6      0             1
Name: Survived, dtype: int64

In [11]:
df.groupby(["SibSp"])["Survived"].value_counts()

SibSp  Survived
0      0           398
       1           210
1      1           112
       0            97
2      0            15
       1            13
3      0            12
       1             4
4      0            15
       1             3
5      0             5
8      0             7
Name: Survived, dtype: int64

In [12]:
df.groupby(["Embarked"])["Survived"].value_counts()

Embarked  Survived
C         1            93
          0            75
Q         0            47
          1            30
S         0           427
          1           217
Name: Survived, dtype: int64

In [13]:
df.groupby(["Pclass"])["Survived"].value_counts()

Pclass  Survived
1       1           136
        0            80
2       0            97
        1            87
3       0           372
        1           119
Name: Survived, dtype: int64

In [14]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [15]:
df.groupby(["Sex"])["Survived"].value_counts()

Sex     Survived
female  1           233
        0            81
male    0           468
        1           109
Name: Survived, dtype: int64

In [16]:
df[["Survived", "Pclass", "Sex", "Age", "SibSp", "Parch", "Embarked"]].isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Embarked      2
dtype: int64

In [17]:
df["Age"].isna().sum()

177

In [18]:
df["Age"].median()

28.0

In [19]:
df["Age"].value_counts().idxmax()

24.0

In [20]:
df["Age"] = df["Age"].fillna(df["Age"].median())

In [21]:
df["Embarked"] = df["Embarked"].fillna(df["Embarked"].value_counts().idxmax())

In [22]:
df = df[["Survived", "Pclass", "Sex", "SibSp", "Age", "Parch", "Embarked"]]

In [23]:
encode = LabelEncoder()

In [24]:
df["Embarked"] = encode.fit_transform(df["Embarked"])

In [25]:
df["Sex"] = encode.fit_transform(df["Sex"])

In [26]:
df["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [27]:
filt = (df["Survived"] == 1)

In [28]:
survived = df.loc[filt]

In [29]:
died = df.drop(df.loc[filt].index)

In [30]:
survived.shape

(342, 7)

In [31]:
# died = died[: 420]

In [32]:
df = pd.concat([died, survived])

In [33]:
df.head()

   Survived  Pclass  Sex  SibSp   Age  Parch  Embarked
0         0       3    1      1  22.0      0         2
4         0       3    1      0  35.0      0         2
5         0       3    1      0  28.0      0         1
6         0       1    1      0  54.0      0         2
7         0       3    1      3   2.0      1         2

In [34]:
sc = StandardScaler()

In [35]:
X = df.drop(columns = ["Survived"])

In [36]:
y = df["Survived"]

In [37]:
sgd = SGDClassifier()

In [38]:
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size = 0.1, random_state = 42)

In [39]:
train_X = sc.fit_transform(train_X)

In [40]:
test_X = sc.transform(test_X)

In [41]:
sgd.fit(train_X, train_y)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [42]:
sgd_pred = sgd.predict(test_X)

In [43]:
accuracy_score(sgd_pred, test_y)

0.8333333333333334

In [44]:
print(classification_report(sgd_pred, test_y))

              precision    recall  f1-score   support

           0       0.88      0.87      0.87        60
           1       0.74      0.77      0.75        30

    accuracy                           0.83        90
   macro avg       0.81      0.82      0.81        90
weighted avg       0.83      0.83      0.83        90

In [45]:
rfc = RandomForestClassifier()

In [46]:
rfc.fit(train_X, train_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [47]:
rfc_pred = rfc.predict(test_X)

In [48]:
accuracy_score(rfc_pred, test_y)

0.8444444444444444

In [49]:
print(classification_report(rfc_pred, test_y))

              precision    recall  f1-score   support

           0       0.90      0.87      0.88        61
           1       0.74      0.79      0.77        29

    accuracy                           0.84        90
   macro avg       0.82      0.83      0.82        90
weighted avg       0.85      0.84      0.85        90

In [50]:
clf = svm.SVC()

In [51]:
clf.fit(train_X, train_y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [52]:
clf_pred = clf.predict(test_X)

In [53]:
accuracy_score(clf_pred, test_y)

0.8555555555555555

In [54]:
print(classification_report(clf_pred, test_y))

              precision    recall  f1-score   support

           0       0.88      0.90      0.89        58
           1       0.81      0.78      0.79        32

    accuracy                           0.86        90
   macro avg       0.84      0.84      0.84        90
weighted avg       0.85      0.86      0.86        90

In [55]:
mlpc = MLPClassifier()

In [56]:
mlpc.fit(train_X, train_y)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100,), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [57]:
mlpc_pred = mlpc.predict(test_X)

In [58]:
accuracy_score(mlpc_pred, test_y)

0.8222222222222222

In [59]:
print(classification_report(mlpc_pred, test_y))

              precision    recall  f1-score   support

           0       0.85      0.88      0.86        57
           1       0.77      0.73      0.75        33

    accuracy                           0.82        90
   macro avg       0.81      0.80      0.81        90
weighted avg       0.82      0.82      0.82        90

In [60]:
logr = LogisticRegression()

In [61]:
logr.fit(train_X, train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [62]:
logr_pred = logr.predict(test_X)

In [63]:
accuracy_score(logr_pred, test_y)

0.8444444444444444

In [64]:
print(classification_report(logr_pred, test_y))

              precision    recall  f1-score   support

           0       0.85      0.91      0.88        55
           1       0.84      0.74      0.79        35

    accuracy                           0.84        90
   macro avg       0.84      0.83      0.83        90
weighted avg       0.84      0.84      0.84        90

In [65]:
estimators = [
  ("logr", logr),
  ("rfc", rfc),
  ("clf", clf),
  ("sgd", sgd)
]

In [66]:
stack_model = StackingClassifier(estimators=estimators, final_estimator=logr)

In [67]:
stack_model.fit(train_X, train_y)

StackingClassifier(cv=None,
                   estimators=[('logr',
                                LogisticRegression(C=1.0, class_weight=None,
                                                   dual=False,
                                                   fit_intercept=True,
                                                   intercept_scaling=1,
                                                   l1_ratio=None, max_iter=100,
                                                   multi_class='auto',
                                                   n_jobs=None, penalty='l2',
                                                   random_state=None,
                                                   solver='lbfgs', tol=0.0001,
                                                   verbose=0,
                                                   warm_start=False)),
                               ('rfc',
                                RandomForestClassifier(bootstrap=True,
                                                       ccp_alpha=0.0,
                                                       class_w...
                                              validation_fraction=0.1,
                                              verbose=0, warm_start=False))],
                   final_estimator=LogisticRegression(C=1.0, class_weight=None,
                                                      dual=False,
                                                      fit_intercept=True,
                                                      intercept_scaling=1,
                                                      l1_ratio=None,
                                                      max_iter=100,
                                                      multi_class='auto',
                                                      n_jobs=None, penalty='l2',
                                                      random_state=None,
                                                      solver='lbfgs',
                                                      tol=0.0001, verbose=0,
                                                      warm_start=False),
                   n_jobs=None, passthrough=False, stack_method='auto',
                   verbose=0)

In [68]:
stack_pred = stack_model.predict(test_X)

In [69]:
accuracy_score(stack_pred, test_y)

0.8666666666666667

In [70]:
path_test = "/content/datasets/MyDrive/datasets/test.csv"

In [71]:
test_df = pd.read_csv(path_test)

In [72]:
test_df.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [73]:
test_df["Age"] = test_df["Age"].fillna(test_df["Age"].median())

In [74]:
test_df["Embarked"] = test_df["Embarked"].fillna(test_df["Embarked"].value_counts().idxmax())
test_df = test_df[["Pclass", "Sex", "SibSp", "Age", "Parch", "Embarked"]]
test_df["Embarked"] = encode.fit_transform(test_df["Embarked"])
test_df["Sex"] = encode.fit_transform(test_df["Sex"])

In [75]:
predictions = stack_model.predict(sc.transform(test_df))

In [76]:
id = pd.read_csv(path_test)["PassengerId"]

In [77]:
comp = pd.DataFrame()

In [78]:
comp.insert(0, "PassengerId", id)

In [79]:
comp.insert(1, "Survived", predictions)

In [80]:
comp.to_csv("predictions.csv", index=False)